# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Verify Test Cases with Gradle

on:
  pull_request:
    branches: [ dev ]
    paths:
      - '**.java'
      - '**/build.gradle*'
      - '**/settings.gradle*'
      - '**/application*.yml'
      - '**.sql'


jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'

      - name: Set application.yml for app
        env:
          APPLICATION_YML: "${{ secrets.APPLICATION_YML_TEST }}"
          YML_DIR: src/main/resources
          YML_DIR_FILE_NAME: application.yml
        run: |
          echo $APPLICATION_YML | base64 --decode > $YML_DIR/YML_DIR_FILE_NAME  
          cat $YML_DIR/YML_DIR_FILE_NAME
          pwd 
          ls -al

      - name: Build with Gradle
        run: ./gradlew build

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: '**/test-results/**/*.xml'